In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.5.2'

In [5]:
ls

docker-compose.yaml  ny_taxi_postgres_data/    README.md
Dockerfile           pg-test-connection.ipynb  upload-data.ipynb
ingest_data.py       pipeline.py               yellow_tripdata_2021-01.parquet

In [11]:
df = pd.read_parquet('yellow_tripdata_2021-01.parquet', engine="fastparquet")

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [22]:
len(df)

1369769

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [20]:
engine.connect()

In [21]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [29]:
import pyarrow.parquet as pq
import time

parquet_file = pq.ParquetFile('yellow_tripdata_2021-01.parquet')

for batch in parquet_file.iter_batches(batch_size=100000):
    start = time.time()
    df = batch.to_pandas()
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    end = time.time()
    print('inserted another chunk, took %.3f second' % (end - start))
    
# df_iter = pd.read_parquet('yellow_tripdata_2021-01.parquet', iterator=True, chunksize=100000)

inserted another chunk, took 6.979 second
inserted another chunk, took 7.670 second
inserted another chunk, took 6.860 second
inserted another chunk, took 7.134 second
inserted another chunk, took 7.231 second
inserted another chunk, took 7.338 second
inserted another chunk, took 7.045 second
inserted another chunk, took 7.569 second
inserted another chunk, took 7.536 second
inserted another chunk, took 8.292 second
inserted another chunk, took 9.544 second
inserted another chunk, took 7.288 second
inserted another chunk, took 8.973 second
inserted another chunk, took 5.272 second

In [35]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csvf

--2022-01-15 23:57:02--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.113.61
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.113.61|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100%  910K=0.01s

2022-01-15 23:57:02 (910 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [4]:
df_zones = pd.read_csv('./taxi+_zone_lookup.csv')

In [9]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [10]:
df_zones.to_sql('zones', con=engine, if_exists='replace')

265